<mod name="Nepgearsy HUD Reborn" global_key="NepgearsyHUDReborn">

    <Classes directory="Classes">
        <class file="NepHudMenu.lua"/>
    </Classes>
    <Hooks directory="Hooks">
        <hook file="HUD/HUDMissionBriefing.lua" source_file="lib/managers/hud/hudmissionbriefing"/>
        <hook file="HUD/HUDBlackScreen.lua" source_file="lib/managers/hud/hudblackscreen"/>
        <hook file="HUD/HUDObjectives.lua" source_file="lib/managers/hud/hudobjectives"/>
        <hook file="HUD/HUDManagerPD2.lua" source_file="lib/managers/hudmanagerpd2"/>
        <hook file="HUD/HUDAssaultCorner.lua" source_file="lib/managers/hud/hudassaultcorner"/>
        <hook file="HUD/GroupAIStateBase.lua" source_file="lib/managers/group_ai_states/groupaistatebesiege"/>
    </Hooks>

    <Localization directory="Localization" default="english.txt">
    </Localization>

    <Options name="Options" auto_load="true" auto_build_menu="false">
        <options>
            <option type="number" default_value="1" name="AssaultBarFont"/>
            <option type="bool" default_value="true" name="EnableMinimap"/>
            <option type="bool" default_value="true" name="EnableTrackers"/>
            <option type="bool" default_value="true" name="EnableObjective"/>
            <option type="bool" default_value="true" name="EnableTeammate"/>
            <option type="bool" default_value="true" name="EnableCleanFont"/>

            <option type="bool" default_value="true" name="EnableStarring"/>
            <option type="number" default_value="1" name="StarringColor"/>            
            <option type="text" default_value="" name="StarringText"/>
            <option type="bool" default_value="true" name="EnableHorizontalLoadout"/>

            <option type="number" default_value="1" name="WaifuPicker"/>
            
        </options>
    </Options>

    <AddFiles directory="Assets">
        <texture path="NepgearsyHUDReborn/Menu/NepHudMenu"/>
        <texture path="NepgearsyHUDReborn/Menu/EnableBackground"/>
        <texture path="NepgearsyHUDReborn/Menu/DisableBackground"/>
        <texture path="NepgearsyHUDReborn/Menu/MWSProfile"/>
        <texture path="NepgearsyHUDReborn/Menu/Discord"/>

        <texture path="NepgearsyHUDReborn/HUD/AssaultBar"/>
        <texture path="NepgearsyHUDReborn/HUD/Thund"/>
        <texture path="NepgearsyHUDReborn/HUD/Skull"/>
    </AddFiles>
</mod>
